@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

html,
body {
  height: 100%;
}

body {
  @apply bg-black text-zinc-100 antialiased;
}

::selection {
  @apply bg-amber-400 text-black;
}